#text-prazna-korpa {
    font-size: 30px;
}

#slika-prazna-korpa {
    animation-name: rotateYAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotateYAnimation {
    from{
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}
