#text-prazna-korpa {
    font-size: 30px;
}

#slika-prazna-korpa {
    animation-name: rotateYAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotateYAnimation {
    from{
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}



.image-link {
    border: solid;
    border-radius: 20px;
}

#buy-book-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#total-price-text {
    font-size: 20px;
    font-weight: bold;
}

#total-price-number {
    font-size: 20px;
    font-weight: bold;
}

#process-info {
    font-size: 9px;
    font-weight: bold;
    color: #8c8c8c;
    display: block;
}
