.books {
    borsder: solid;
    bosrder-color: white;
}

.book {
    border: solid;
    border-radius: 20px;
    width: 18rem;
}

.book-image {
    border-radius: 20px;
}

.book-cart {
    width: 32px;
}
