nav {
    background-color: #267DFF;
    border-color: #1a202c;
    border-width: 1px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.navbar-brand {
    margin-left: 2rem;
}

.right-menu {
    display: flex;
}

#cart{
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    padding: 7px;
    border-bottom: solid;
    transition: all 0.5s;
    font-size: 14px;
    border-radius: 10px;
    background-color: deepskyblue;
}

#add-book {
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    padding: 7px;
    border-bottom: solid;
    transition: all 0.5s;
    font-size: 14px;
    border-radius: 10px;
    background-color: #0c5470;
    align-items: center;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#add-book a {
    text-decoration: none;
    color: white;
}

#logout {
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    padding: 7px;
    border-bottom: solid;
    transition: all 0.5s;
    font-size: 14px;
    border-radius: 10px;
    background-color: #0c5470;
    align-items: center;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#logout a {
    text-decoration: none;
    color: white;
}

#cart-image {
    width: 32px;
}

#cart:hover {
    text-decoration: none;
    color: white;
    border-radius: 20px;
    transition: all 0.5s;
    transform: rotate(360deg);
}

#add-book:hover {
    color: white;
    border-radius: 20px;
    transition: all 0.5s;
    background-color: rgba(12, 84, 112, 0.6);
}

#logout:hover {
    color: white;
    border-radius: 20px;
    transition: all 0.5s;
    background-color: rgba(12, 84, 112, 0.6);
}
