nav {
    background-color: #267DFF;
    border-color: #1a202c;
    border-width: 1px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.navbar-brand {
    padding: 0 30px;
    margin-left: 2rem;
    outline: solid rgba(0,0,0,0);
    border-radius: 20px;
    transition: all 0.5s;
}
.navbar-brand:hover {
    outline: solid rgba(255,255,255,1);
    transition: all 0.5s;
}

.right-menu {
    display: flex;
}

#cart{
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    padding: 7px;
    border-bottom: solid;
    transition: all 0.5s;
    font-size: 14px;
    border-radius: 10px;
    background-color: deepskyblue;
}

#cart-image {
    width: 32px;
}


#add-book {
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    padding: 7px;
    border-bottom: solid;
    transition: all 0.5s;
    font-size: 14px;
    border-radius: 10px;
    background-color: #0c5470;
    align-items: center;
}

#add-book a {
    text-decoration: none;
    color: white;
}

#category {
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    padding: 7px;
    border-bottom: solid;
    transition: all 0.5s;
    font-size: 14px;
    border-radius: 10px;
    background-color: #0c5470;
    align-items: center;
}

#category a {
    text-decoration: none;
    color: white;
}

#logout {
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    padding: 7px;
    border-bottom: solid;
    transition: all 0.5s;
    font-size: 14px;
    border-radius: 10px;
    background-color: #0c5470;
    align-items: center;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    cursor: pointer;
}

#logout a {
    text-decoration: none;
    color: white;
}




#cart:hover {
    text-decoration: none;
    color: white;
    border-radius: 20px;
    transition: all 0.5s;
    transform: rotate(360deg);
}


#add-book:hover {
    color: white;
    border-radius: 20px;
    transition: border-radius 0.5s;
}

#add-book:hover img {
    animation-name: hover-rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

#add-book:active {
    border: 3px solid white;
}


#category:hover {
    color: white;
    border-radius: 20px;
    transition: border-radius 0.5s;
}

#category:hover img {
    animation-name: hover-rotateX;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#category:active {
    border: 3px solid white;
}


#logout:hover {
    color: white;
    border-radius: 20px;
    transition: border-radius 0.5s;
}

#logout:hover img {
    animation-name: hover-rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#logout:active {
    border: 3px solid white;
}


@keyframes hover-rotate {
    from{
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes hover-rotateX {
    from{
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(360deg);
    }
}
